<h2>What is Kitesocial?</h2>
<p>Kitesocial is a service for friends, family, and co–workers to communicate and stay connected through the exchange of quick, frequent answers to one simple question: <strong>What's up?</strong></p>

<% if flash[:alert].present? %>
  <p><%= flash[:alert] %></p>
<% end %>

<%= form_with url: session_path, method: :post do |form| %>
  <h2>Log in</h2>
  <%= form.label :email %><br>
  <%= form.email_field :email %><br>
  <%= form.label :password %><br>
  <%= form.password_field :password %><br>
  <%= form.submit "Log in" %>
<% end %>
