<%= form_with model: Chirp.new do |form| %>
  <%= form.label :content, "What's up?" %><br>
  <%= form.text_field :content %>
  <%= form.submit "Chirp!" %>
<% end %>

<h2>Timeline</h2>

<%= render @timeline %>
