<%= form_with model: Chirp.new do |form| %>
  <%= form.label :content, "What's up?" %><br>
  <%= form.text_field :content, required: true %>
  <%= form.submit "Chirp!" %>
<% end %>

<p><%= link_to("See what everyone's saying", firehose_path) %></p>

<h2>Timeline</h2>

<div id="timeline"></div>

<%= content_tag "script", id: "data", type: "application/json" do %>
  <%= json_escape(@timeline.map { |chirp| ChirpPresenter.to_hash(chirp) }.to_json).html_safe %>
<% end %>

<%= javascript_pack_tag 'timeline' %>
<%= stylesheet_pack_tag 'timeline' %>
