<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Kitesocial" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="w-full mx-auto max-w-3xl p-4 text-gray-900">
    <header class="flex items-center justify-between mb-5 h-20">
      <h1>
        <%= link_to(root_path) do %>
          <%= image_tag('/logo.png', alt: 'Kitesocial', class: "w-[322px]") %>
        <% end %>
      </h1>
      <% if current_user %>
        <%= user_link(current_user) %>
        <%= button_to "Log out", session_path, method: :delete, class: "h-10 px-4 rounded-sm bg-white border border-gray-300 cursor-pointer text-base/6 text-gray-900 hover:bg-gray-50 focus:ring-2 focus:ring-green focus:ring-offset-2 focus:outline-none" %>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
